<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        {% block head %}{% endblock %}

        <!-- PERSONAL CSS -->
        <style type="text/css">
            html, body {
                margin: auto;
                text-align: center;
            }
        </style>

    </head>
    <body>
        <div class="container-fluid">
            <a href="index">Home</a>
            <a href="{{ url_for('add_record') }}">Add new record</a>
            <a href="/query_status">Query status of a flight</a>
            <a href="/query_delay">Query average delay of a flight</a>
            <a href="/count_flight">Count flights connecting two cities</a>

            {% block content %}{% endblock %}
        </div>
    </body>

</html>