<!-- extend base layout -->
{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
    <h2>{{title}}</h2>
    <form action="/flights_connecting_a_to_b" method="POST">
        <label for="first_city">FIRST CITY</label><br>
        <input type="text" name="first_city" id="first_city" required>
        <br><br>
        <label for="second_city">SECOND CITY</label><br>
        <input type="text" name="second_city" id="second_city" required>
        <br><br>
        <label for="first_date">FIRST DATE</label><br>
        <input type="date" name="first_date" id="first_date" required>
        <br><br>
        <label for="second_date">SECOND DATE</label><br>
        <input type="date" name="second_date" id="second_date" required>
        <br><br>
        <button type="submit" class="btn btn-primary">Confirm</button>
    </form>

    <br><br>
    <p style="color:red;">{{result}}</p>

{% endblock %}
