<!-- extend base layout -->
{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
    <h2>{{title}}</h2>
    <form action="/query_status" method="POST">
        <label for="op_carrier_fl_num">OP_CARRIER_FL_NUM</label><br>
        <input type="number" name="op_carrier_fl_num" id="op_carrier_fl_num" required>
        <br><br>
        <label for="date">DATE</label><br>
        <input type="date" name="date" id="date" placeholder="yyyy-mm-dd" required>
        <br><br>
        <button type="submit" class="btn btn-primary">Confirm</button>
    </form>

    <br><br>
    <p style="color:red;">{{result}}</p>

{% endblock %}
